@media (min-width: 340px) and (max-width: 400px) {
    .contenedor-for {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
        margin: 100px;

    }

    .form-i-s {
        width: 300px;
        


    }
}